# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# MLflow local artifacts
mlruns/
mlflow.db

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env
.env.*
